.content-box {
  width: 100%;
  min-height: 700px;
  display: block;
  background-size: cover;

  .content-formatted {
    max-width: 640px;
    width: 100%;
    margin: 40px auto 0;
  }
}

.content-top {
  background-image: url('/images/content-top-bg.jpg');
  background-color: #85d8f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}

.content-middle {
  background-color: white;

  .content-formatted {
    width: 100%;
    max-width: 750px;
  }
}

.content-bottom {
  background-color: #1c2123;
  color: rgba(255,255,255,.5);
  position: relative;

  .edy-empty-bordered {
    color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
  }

  .edy-content-element-hover {
    border-color: rgba(255,255,255,.1);
  }

  .edy-texteditor-active:hover {
    outline: 1px solid rgba(255,255,255,0.2);
    outline-offset: 2px;
  }

  .placeholder {
    color: rgba(255,255,255,.5);
  }

  .content-formatted {
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 750px;
  }

  .content-left,
  .content-right {
    width: 315px;
    margin: 0 20px;
  }

  .supported {
    text-align: center;
    padding-top: 130px;

    .browser {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      color: white;
      padding-top: 50px;
      width: 50px;
      background-position: 50% 5px;
      vertical-align: top;
    }

    .browser + .browser {
      margin-left: 5px;
    }
  }
}

.browser.chrome {
  background-image: url('/images/chrome.png');
  background-repeat: no-repeat;
  background-size: 37px 37px;
  width: 37px;
  height: 37px;
}

.browser.firefox {
  background-image: url('/images/firefox.png');
  background-repeat: no-repeat;
  background-size: 37px 37px;
  width: 37px;
  height: 37px;
}

.browser.ie {
  background-image: url('/images/ie.png');
  background-repeat: no-repeat;
  background-size: 40px 39px;
  width: 40px;
  height: 39px;
  background-position-y: 3px !important;
}

.browser.opera {
  background-image: url('/images/opera.png');
  background-repeat: no-repeat;
  background-size: 35px 37px;
  width: 35px;
  height: 37px;
}

.browser.safari {
  background-image: url('/images/safari.png');
  background-repeat: no-repeat;
  background-size: 38px 41px;
  width: 38px;
  height: 41px;
  background-position-y: 1px !important;
}

.browser.mobile {
  background-image: url('/images/mobile.png');
  background-repeat: no-repeat;
  background-size: 25px 44px;
  width: 25px;
  height: 44px;
  background-position-y: 1px !important;
}
