@charset "UTF-8";html,body{height:auto}.edy-ca-empty-placeholder{display:none}.edy-ca-empty .edy-ca-empty-placeholder{display:block}.edy-ca-empty .edy-ca-empty-normal{display:block}.edy-ca-empty .edy-ca-empty-over{display:none}.edy-ca-empty.edy-ca-drag-over .edy-ca-empty-normal{display:none}.edy-ca-empty.edy-ca-drag-over .edy-ca-empty-over{display:block}.edy-ca-defaultcontent{cursor:text}.edy-partial-content-view{-webkit-transition:opacity 250ms;-moz-transition:opacity 250ms;transition:opacity 250ms}.edy-ca-dragging .edy-partial-btns{opacity:0}.edy-ca-dragging .edy-partial-content-view{opacity:.25}.edy-ca-drag-placeholder,.edy-ca-drag-inline-placeholder{height:0;font-size:0;line-height:0;position:relative;z-index:2}.edy-ca-drag-placeholder:last-child,.edy-ca-drag-inline-placeholder:last-child{margin-bottom:3px}.edy-ca-drag-placeholder:before,.edy-ca-drag-inline-placeholder:before,.edy-ca-drag-placeholder:after,.edy-ca-drag-inline-placeholder:after{display:block;background:rgba(62,167,255,0.75);box-shadow:0 0 2px rgba(62,167,255,0.5);content:''}.edy-ca-drag-placeholder:before,.edy-ca-drag-inline-placeholder:before{position:absolute;top:-4px;left:-12px;width:12px;height:12px;font-size:0;line-height:0;border-radius:50%}.edy-ca-drag-placeholder:after,.edy-ca-drag-inline-placeholder:after{position:absolute;top:1px;right:0;left:0;height:2px}.edy-ca-drag-inline-placeholder{position:absolute}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-none:before{left:50%}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-left:before,.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-right:before{top:-6px;left:-6px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-left:after,.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-right:after{height:75px;background-color:rgba(62,167,255,0.3);width:100px;left:-1px;top:-3px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-left.edy-ca-drag-inline-placeholder-float-right:after,.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-right.edy-ca-drag-inline-placeholder-float-right:after{margin-left:-98px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-left-container:before{top:-5px;left:-5px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-left-container:after{height:100%;background-color:rgba(62,167,255,0.6);width:3px;left:-1px;top:-3px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-right-container:before{top:-5px;left:-5px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-right-container:after{height:100%;background-color:rgba(62,167,255,0.6);width:3px;left:-1px;top:-3px}.edy-ca-drag-inline-placeholder.edy-ca-drag-inline-placeholder-float-right-block:before{left:auto;right:-6px}.edy-ca-drag-over .edy-ca-empty-placeholder{box-shadow:0 0 5px #3ea7ff}.edy-content-element{-webkit-transition:border-color 100ms;-moz-transition:border-color 100ms;transition:border-color 100ms;padding:3px;margin:-3px;margin-bottom:-6px;border-color:transparent;border-radius:2px}.edy-content-element:last-of-type{margin-bottom:-3px}.edy-partial-content-view:after{content:"";display:table;clear:both}.edy-partial-btns{position:absolute;display:none}.edy-partial-btns .edy-partial-close,.edy-partial-btns .edy-partial-move{position:absolute;z-index:1}.edy-partial-btns .edy-partial-close{margin-top:-14px}.edy-partial-btns .edy-partial-move{margin-top:-14px;margin-left:-14px;cursor:move}.edy-partial-btns:hover .edy-partial-move,.edy-partial-btns:hover .edy-partial-close{border:1px solid rgba(0,0,0,0.75) !important;color:rgba(255,255,255,0.85) !important;background:rgba(0,0,0,0.75) !important}.edy-content-element-hover{padding:2px;border:1px solid rgba(0,0,0,0.1)}.edy-content-element-hover .edy-partial-btns{display:block}.edy-content-element-active{border-color:rgba(0,0,0,0.33)}.edy-empty-bordered{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;min-height:20px;padding:40px;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:18px;font-style:bold;line-height:18px;color:rgba(27,33,36,0.33);text-align:center;border:1px dashed rgba(27,33,36,0.33)}.edy-empty-bordered .edy-empty-header{font-size:18px;font-style:normal;font-weight:500;line-height:18px}.edy-empty-bordered .edy-empty-header svg{margin-right:5px;vertical-align:-9px}.edy-empty-bordered a{font-size:14px;line-height:16px;color:rgba(27,33,36,0.33);text-decoration:underline}.edy-content-element-hover .edy-empty-bordered{border-color:transparent}.edy-tb{border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;background:rgba(255,255,255,0.85);box-shadow:0 1px 3px rgba(0,0,0,0.2);font-size:0px;line-height:1em;margin-top:-35px;margin-left:-3px;position:absolute;z-index:10000}.edy-tb .edy-tb-cmd,.edy-tb .edy-tb-act,.edy-tb .edy-tb-btn{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#1b2124;color:rgba(0,0,0,0.75);background:none;text-align:center;text-shadow:0 1px 0 #fff;border:none;cursor:pointer;padding:0;margin:0;text-shadow:none;width:29px;height:29px;float:left;font-size:0;line-height:0}.edy-tb .edy-tb-cmd:hover,.edy-tb .edy-tb-act:hover,.edy-tb .edy-tb-btn:hover{background-color:#ccedf4}.edy-tb .edy-tb-cmd:disabled,.edy-tb .edy-tb-act:disabled,.edy-tb .edy-tb-btn:disabled{opacity:0.3}.edy-tb a.edy-tb-cmd{line-height:50px;box-shadow:none;border-bottom:none}.edy-tb a.edy-tb-cmd:hover{line-height:50px;box-shadow:none;border-bottom:none}.edy-tb .edy-tb-textual{font-size:12px;width:100%;text-align:left;padding-left:1em;padding-right:1em}.edy-tb .edy-tb-g{border-left:1px solid rgba(0,0,0,0.1)}.edy-tb .edy-tb-active{position:relative;z-index:1}.edy-tb .edy-tb-active:after{border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;background-color:rgba(0,0,0,0.1);position:absolute;z-index:-1;content:'';top:3px;bottom:3px;right:3px;left:3px}.edy-tb .edy-tb-paragraph{padding-right:10px;width:35px}.edy-tb .edy-tb-paragraph:before{-webkit-border-image:none;-moz-border-image:none;-o-border-image:none;border-image:none;border-style:solid;border-color:#000 transparent transparent;border-style:solid;border-width:3px;content:'';position:absolute;right:5px;top:50%}.edy-tb .edy-tb-size{float:left;text-align:center}.edy-tb .edy-tb-size .edy-tb-size-btn{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#8c8c8c;cursor:pointer;display:inline-block;height:29px;width:15px;float:left}.edy-tb .edy-tb-size .edy-tb-size-btn:hover{color:#bebebe}.edy-tb .edy-tb-size .edy-tb-size-val{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background:none;border:none;cursor:default;font-size:16px;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;display:inline-block;height:29px;line-height:29px;float:left;width:20px;cursor:text}.edy-tb .edy-tb-menucontainer{float:left;position:relative}.edy-tb .edy-tb-stylemenu{border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;background:rgba(255,255,255,0.95);box-shadow:0 1px 3px rgba(0,0,0,0.25);display:none;position:absolute;top:25px;left:5px;width:130px;z-index:9999}.edy-tb .edy-tb-stylemenu .edy-tb-cmd{display:block;font-size:12px;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;padding:5px 15px;text-align:left;width:100%;white-space:nowrap}.edy-tb .edy-tb-stylemenu .edy-tb-style-h1{font-size:16px}.edy-tb .edy-tb-stylemenu .edy-tb-style-h2{font-size:14px}.edy-tb .edy-tb-stylemenu .edy-tb-style-h3{font-size:14px}.edy-tb .edy-tb-stylemenu .edy-tb-style-blockquote{padding-left:2em}.edy-tb .edy-tb-tabletools.edy-tb-table-celltools{display:none}.edy-tb .edy-tb-tabletools.edy-tb-table-active{display:block}.edy-tb .edy-tb-cellstyle-tools{display:inline-block;border-top:1px solid rgba(0,0,0,0.3);width:100%}.edy-tb .edy-tb-cellstyle-tools.edy-tb-table-active{display:inline-block}.edy-tb .edy-valign-dropdown{padding:0}.edy-tb .edy-tb-valigncombo-btn .top,.edy-tb .edy-tb-valigncombo-btn .middle,.edy-tb .edy-tb-valigncombo-btn .bottom{display:none}.edy-tb .edy-tb-valigncombo-btn.top .top,.edy-tb .edy-tb-valigncombo-btn.middle .middle,.edy-tb .edy-tb-valigncombo-btn.bottom .bottom{display:block}.edy-tb .edy-tb-color-tab.active{color:red}.edy-tb .edy-tb-list-indent-tools.edy-tb-list-active{display:block}.edy-tb-fixed{position:fixed;top:3px;margin-top:0}.edy-tb-dropdown{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#fff;background-color:rgba(255,255,255,0.95);box-shadow:0 0 5px rgba(0,0,0,0.25);position:absolute;padding:10px;top:25px;left:5px;z-index:1;display:none}.edy-texteditor-view{min-height:1em;outline:none}.edy-texteditor-active{outline:1px solid rgba(0,0,0,0.2);outline-offset:2px}.edy-texteditor-active:hover{outline:1px solid rgba(0,0,0,0.2);outline-offset:2px}.edy-texteditor-active table td,.edy-texteditor-active table th{outline:1px dotted rgba(0,0,0,0.1);outline-offset:-1px}.edy-texteditor-active table td.wysiwyg-tmp-selected-cell,.edy-texteditor-active table th.wysiwyg-tmp-selected-cell{outline:1px solid rgba(0,0,0,0.6)}.edy-texteditor-active table td.edy-tmp-delete-marked-cell,.edy-texteditor-active table th.edy-tmp-delete-marked-cell{background:rgba(233,78,78,0.4)}.edy-texteditor-active table td.edy-tmp-addbefore-marked-cell,.edy-texteditor-active table th.edy-tmp-addbefore-marked-cell{box-shadow:-3px 0 0 rgba(50,180,0,0.5)}.edy-texteditor-active table td.edy-tmp-addafter-marked-cell,.edy-texteditor-active table th.edy-tmp-addafter-marked-cell{box-shadow:3px 0 0 rgba(50,180,0,0.5)}.edy-texteditor-active table td.edy-tmp-addabove-marked-cell,.edy-texteditor-active table th.edy-tmp-addabove-marked-cell{box-shadow:0 -3px 0 rgba(50,180,0,0.5)}.edy-texteditor-active table td.edy-tmp-addbelow-marked-cell,.edy-texteditor-active table th.edy-tmp-addbelow-marked-cell{box-shadow:0 3px 0 rgba(50,180,0,0.5)}.edy-table-cell-resize-handler{position:absolute;z-index:10000;width:9px;height:9px;margin:-5px 0 0 -5px;background:#eee;border:1px solid #999;border-radius:50%}.edy-table-cell-resize-handler.col-handler{cursor:col-resize}.edy-table-cell-resize-handler.row-handler{cursor:row-resize}.edy-codeedit-view textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding:5px;margin:0;font-family:Inconsolata, Monaco, Monospace;font-size:16px;line-height:20px;background:transparent;border:0;outline:none;resize:none}.edy-codeedit-view .edy-codeedit-tools{padding:7px;border-top:1px solid #dfe0e2}.edy-codeedit-view .edy-codeedit-tools button{margin-left:3px}.edy-embedded-preview{margin:10px}.edy-embedded-preview iframe,.edy-embedded-preview embed,.edy-embedded-preview object,.edy-embedded-preview img{max-width:380px}.edy-srcedit-view{position:fixed;top:30px;right:30px;bottom:30px;left:30px}.edy-srcedit-view .edy-srcedit-cleanup,.edy-srcedit-view .edy-srcedit-format,.edy-srcedit-view .edy-srcedit-undo{margin-right:15px}.edy-srcedit-view .edy-srcedit-cleanup,.edy-srcedit-view .edy-srcedit-format{color:#448bc0;cursor:pointer}.edy-srcedit-view .edy-srcedit-cleanup:hover,.edy-srcedit-view .edy-srcedit-format:hover{color:#35709c}.edy-srcedit-view .edy-srcedit-cleanup:first-child,.edy-srcedit-view .edy-srcedit-format:first-child{margin-left:9px}.edy-srcedit-view .edy-srcedit-undo{line-height:100%;color:rgba(0,0,0,0.3);cursor:pointer}.edy-srcedit-view .edy-srcedit-undo:hover{color:rgba(0,0,0,0.7)}.no-flexbox .edy-srcedit-view{position:fixed;top:30px;right:30px;bottom:30px;left:30px;height:auto;padding-bottom:50px}.no-flexbox .edy-srcedit-view textarea{height:100%}.no-flexbox .edy-codeedit-tools{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;right:0;bottom:0;left:0;height:50px}.no-flexbox .edy-codeedit-tools .edy-srcedit-links{float:left}.no-flexbox .edy-codeedit-tools .edy-srcedit-btns{float:right}.flexbox .edy-srcedit-view{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;-ms-flex-direction:column}.flexbox .edy-srcedit-view textarea{-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;-ms-flex-negative:1;-webkit-flex-shrink:auto;-moz-flex-shrink:auto;flex-shrink:auto;-ms-flex-positive:auto;padding:20px}.flexbox .edy-srcedit-view .edy-srcedit-links{-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;-ms-flex-negative:1}.flexbox .edy-srcedit-view .edy-srcedit-btns{-webkit-flex-grow:0;-moz-flex-grow:0;flex-grow:0;-ms-flex-negative:0}.flexbox .edy-srcedit-view .edy-codeedit-tools{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-flex-grow:0;-moz-flex-grow:0;flex-grow:0;-ms-flex-negative:0;-webkit-flex-shrink:none;-moz-flex-shrink:none;flex-shrink:none;-ms-flex-positive:none;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;-ms-flex-direction:row;-webkit-box-lines:single;-moz-box-lines:single;box-lines:single;-webkit-flex-wrap:nowrap;-moz-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:end;-moz-box-pack:end;box-pack:end;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;-o-justify-content:flex-end;justify-content:flex-end;-ms-flex-pack:end;-webkit-box-align:baseline;-moz-box-align:baseline;box-align:baseline;-webkit-align-items:baseline;-moz-align-items:baseline;-ms-align-items:baseline;-o-align-items:baseline;align-items:baseline;-ms-flex-align:baseline;-webkit-align-content:center;-moz-align-content:center;align-content:center;-ms-flex-line-pack:center}.edy-colorpicker .edy-colorpicker-colors{width:153px;margin:0 -1px}.edy-colorpicker .edy-colorpicker-colors .remove-color{border:1px solid #ccc}.edy-colorpicker .edy-colorpicker-colors div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:15px;height:15px;margin:1px;cursor:pointer}.edy-colorpicker .edy-colorpicker-colors div:nth-child(-n+24){margin-bottom:5px}.edy-colorpicker .edy-colorpicker-colors div:hover,.edy-colorpicker .edy-colorpicker-colors div.active{border:1px solid #000}.edy-colorpicker .edy-tb-color-tab-content-bottom{padding-top:7px;clear:both}.edy-colorpicker .edy-tb-color-tab-content-bottom:after{content:"";display:table;clear:both}.edy-colorpicker .edy-tb-color-tab-content-bottom label{display:inline-block;padding:0;line-height:24px}.edy-colorpicker .edy-tb-color-tab-content-bottom .edy-tb-color-custom-container{position:relative;margin-bottom:-1px}.edy-colorpicker .edy-tb-color-tab-content-bottom input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:12px;line-height:12px}.edy-colorpicker .edy-tb-color-tab-content-bottom .edy-tb-color-picked{position:absolute;top:1px;right:1px;bottom:1px;display:inline-block;width:24px;overflow:hidden;background:#fff;border-left:1px solid rgba(0,0,0,0.1);border-top-right-radius:1px;border-bottom-right-radius:1px}.edy-colorpicker .edy-tb-color-picked.active .no-color{display:none}.edy-colorpicker .edy-tb-color-alpha-slider-outer{display:none;height:20px;padding:5px 0 25px;cursor:pointer}.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider{height:1px;background-color:#999}.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider .edy-tb-color-alpha-slider-inner{position:relative;height:1px;margin:0 6px;margin-top:10px}.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider .edy-tb-color-alpha-btn{position:absolute;left:100%;width:12px;height:12px;margin-top:-6px;margin-left:-6px;cursor:pointer;background-color:#fff;border:1px solid #999;border-radius:50%;box-shadow:0 1px 3px rgba(0,0,0,0.3)}.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider .edy-tb-color-alpha-btn:hover{background-color:#eee}.edy-colorpicker.with-alpha .edy-tb-color-alpha-slider-outer{display:block}.edy-tb-color-modal .edy-tb-tabs{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 1px 5px}.edy-tb-color-modal .edy-tb-tabs div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-right:4px}.edy-tb-color-modal .edy-tb-tabs div:last-child{padding-right:0;padding-left:4px}.edy-tb-color-modal .edy-tb-tabs button{width:49%}.edy-tb-color-modal .edy-tb-tabs button:last-child{margin-left:2%}.edy-img-color-picker-inner{margin:10px}.edy-img-crop-overlay{position:absolute;top:50%;right:0;left:0;z-index:9998;margin-top:-17px;font-size:14px;line-height:23px;text-align:center}.edy-img-crop-overlay .edy-img-crop-overlay-inner{display:inline-block;padding:5px 10px 5px 5px;color:rgba(255,255,255,0.6);background:rgba(0,0,0,0.7);box-shadow:0 1px 3px rgba(0,0,0,0.3)}.edy-img-crop-overlay .edy-img-crop-overlay-inner a{color:#fff;text-decoration:none}.edy-img-crop-overlay .edy-img-crop-overlay-inner .edy-img-crop-overlay-icon{display:inline-block;vertical-align:middle}.edy-img-crop-overlay .edy-img-crop-overlay-inner .edy-img-crop-overlay-icon svg{display:block}.edy-img-crop-overlay.edy-crop-horizontal .edy-img-crop-overlay-icon{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.edy-tablepicker{padding:0}.edy-tablepicker .edy-tablepicker-grid{border-right:1px solid rgba(0,0,0,0.1)}.edy-tablepicker .edy-tablepicker-row{overflow:hidden;clear:both;white-space:nowrap}.edy-tablepicker .edy-tablepicker-row div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;width:15px;height:15px;cursor:pointer;border-top:1px solid rgba(0,0,0,0.1);border-left:1px solid rgba(0,0,0,0.1)}.edy-tablepicker .edy-tablepicker-row div.edy-tablepicker-cell-active{color:#fff;background-color:#ccedf4}.edy-tablepicker .edy-tablepicker-size-info{min-height:1.6em;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:11px;font-weight:600;line-height:1.6em;text-align:center;border:1px solid rgba(0,0,0,0.1)}.edy-table-add-picker,.edy-table-delete-picker{min-width:15em;padding:0;font-size:12px;line-height:1em}.edy-fe-additems{width:170px}.edy-fe-additems .edy-fe-additem{display:block;padding:8px;font-size:14px;line-height:16px;color:#5a5a5a;border:0}.edy-fe-additems .edy-fe-additem:hover{color:white;text-decoration:none;background-color:#48a8ff}.edy-fe-additems .edy-fe-additem .edy-icon{float:left;padding:0 8px 0 0;color:rgba(0,0,0,0.35)}.edy-fe-fs{width:250px}.edy-fe-fs .edy-popover-content{padding:10px}.edy-fe-fs input[type="checkbox"]{margin:0}.edy-fe-label{outline:none}.edy-fef-top{position:absolute;display:none}.edy-fef-top .edy-fef-remove,.edy-fef-top .edy-fef-move{position:absolute;z-index:1}.edy-fef-top .edy-fef-remove{margin-top:-14px}.edy-fef-top .edy-fef-move{margin-top:-10px;margin-left:-10px;cursor:move}.edy-fef-bottom{position:absolute;display:none}.edy-fef-bottom .edy-fef-add{margin-top:-8px;margin-left:-14px}.edy-fe-active .edy-fe-field:hover{outline:1px solid rgba(0,0,0,0.1);outline-offset:2px}.edy-fe-active .edy-fe-field:hover .edy-fef-bottom{display:block}.edy-fe-active .edy-fe-field-active{outline:1px solid rgba(0,0,0,0.1);outline-offset:2px}.edy-fe-active .edy-fe-field-active .edy-fef-top{display:block}.edy-fe-active .edy-fe-field-active .edy-fef-bottom{display:block}.edy-fe-active .edy-fe-field-active:hover{outline:1px solid rgba(0,0,0,0.1);outline-offset:2px}.edy-fef-dragging{opacity:.5}.edy-fe-placeholder{height:3px;margin-top:-3px;font-size:0;line-height:0;background:rgba(62,167,255,0.5);box-shadow:0 0 3px rgba(62,167,255,0.5)}.edy-fe-placeholder:before{display:inline-block;width:7px;height:7px;margin-top:-2px;margin-left:-7px;font-size:0;line-height:0;background:rgba(62,167,255,0.5);border-radius:50%;content:'';box-shadow:0 0 3px #3ea7ff}.edy-fe-draghelper{display:inline-block;width:200px;background:rgba(62,167,255,0.25);border:1px solid rgba(62,167,255,0.5)}.edy-texteditor-container.image-container .edy-container-resizable-area{cursor:-webkit-grab;cursor:-moz-grab;position:relative}.edy-texteditor-container.image-container picture{cursor:-webkit-grab;cursor:-moz-grab}.edy-texteditor-container.image-container.crop-move-mode{cursor:move}.edy-content-delete{position:absolute;margin-top:-12px;margin-left:-22px;cursor:pointer}.edy-content-delete:hover{color:rgba(255,255,255,0.85) !important;background:rgba(0,0,0,0.75)}.edy-embed-container-mask{position:absolute;display:block;background:transparent;cursor:-webkit-grab;cursor:-moz-grab}.edy-positionable-handler{background-color:#fafafa;border:1px solid rgba(0,0,0,0.1) !important;border-radius:3px;width:15px;height:15px;cursor:move;position:absolute;margin-top:-15px;margin-left:-15px}.edy-positionable-handler:hover{border-color:rgba(0,0,0,0.45) !important;text-decoration:none !important}.edy-resize-handler{background-color:#fafafa;border:1px solid rgba(0,0,0,0.45) !important;border-radius:50%;color:rgba(0,0,0,0.25);width:11px;height:11px;text-align:center;font-size:0px;line-height:0px;text-decoration:none !important;z-index:10000;position:absolute;margin-top:-6px;margin-left:-6px}.edy-resize-handler:hover{text-decoration:none !important}.edy-resize-handler.focused{border-color:rgba(0,0,0,0.45) !important}.edy-mapeditor{position:relative;width:620px;background-color:#fff}.edy-mapeditor .edy-modal-x{top:15px}.edy-mapeditor .edy-mapeditor-map{height:350px;margin:0 10px 10px;background-color:#bbb}.edy-mapeditor-tools{margin-right:50px}.edy-mapeditor-tools .edy-form-group{display:inline-block;width:100%}.edy-mapeditor-tools .edy-mapeditor-loader{float:left;font-size:18px;line-height:38px;color:#b0b0b0}.edy-mapeditor-tools .edy-btn{margin-left:7px}.edy-mapeditor-map .gm-style img{max-width:none !important}.edy-mapeditor-map .gm-style label{display:inline;width:auto}.edy-taglist{position:relative;min-height:1.6em;padding:2px 20px 2px 2px;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:12px;line-height:1.6em;cursor:text;border:1px dashed rgba(27,33,36,0.33)}.edy-tag-holder{background-color:#515b64;background-image:-webkit-linear-gradient(#58626b, #4a545d);background-image:linear-gradient(#58626b, #4a545d);border-top-left-radius:9px;border-top-right-radius:9px;border-bottom-left-radius:9px;border-bottom-right-radius:9px;display:inline-block;padding:3px 0 3px 8px;margin:1px;overflow:hidden;font-size:.9em;line-height:1.1em;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.5);vertical-align:top;cursor:default}.edy-tag-remove{display:inline-block;padding:0 5px;margin:0;font-size:1.2em;font-weight:normal;cursor:pointer}.edy-tag-remove:before{content:'×'}.edy-tag-input{height:1.4em;padding:0;margin:1px 0;font-size:1em;line-height:1em;vertical-align:top;background:transparent;border:0;outline:none}.edy-tag-suggestions{display:none}.edy-taglist-loader{position:absolute;top:0;right:0;display:none;width:2em;height:2em;padding:0;margin:0;line-height:2em}.edy-taglist-openarrow{position:absolute;top:0;right:0;width:2em;height:2em;padding:0;margin:0;cursor:pointer}.edy-taglist-openarrow:after{position:absolute;display:block;width:0;height:0;padding:0;margin:.8em 0 0 .6em;border-color:#000 transparent transparent;border-image:none;border-style:solid;border-width:5px;content:''}.edy-tag-suggestions{display:none;min-width:100px;z-index:30000}.edy-tag-suggestions .edy-tag-suggestions-inner{max-height:300px;overflow:auto;background-color:rgba(255,255,255,0.95);border-radius:2px;box-shadow:0 1px 3px rgba(0,0,0,0.35)}.edy-tag-suggestions .edy-tag-suggestion{display:block;padding:3px 10px;font-size:12px;font-weight:600;line-height:16px;color:rgba(0,0,0,0.75)}.edy-tag-suggestions .edy-tag-suggestion:hover,.edy-tag-suggestions .edy-tag-suggestion.active{font-weight:600;color:rgba(0,0,0,0.95);text-decoration:none !important;background-color:rgba(0,0,0,0.1)}.edy-embededitor{width:450px}.edy-embededitor textarea{height:200px}.edy-embed-loader{margin-right:5px;font-size:20px;line-height:38px}.edy-embed-preview{padding:7px;line-height:0;background-color:#dfe0e2}.edy-gallery-area{min-height:101px}.edy-gallery-area:after{content:"";display:table;clear:both}.edy-gallery-area .edy-gallery-empty{display:none}.edy-gallery-area .edy-gallery-empty:only-child{display:block}.edy-gallery-area .edy-gallery-thumb{display:inline-block;float:left;width:96px;height:96px;margin:0 5px 5px 0}.edy-gallery-area .edy-gallery-image{position:relative;width:96px;height:96px;background-repeat:no-repeat;background-size:cover}.edy-gallery-area .edy-gallery-image .edy-thumb-remove{display:none}.edy-gallery-area .edy-gallery-image:hover .edy-thumb-remove{display:block}.edy-gallery-area .edy-thumb-remove{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;right:3px;bottom:3px;width:23px;height:23px;padding:3px;line-height:0;text-decoration:none}.edy-gallery-area .edy-thumb-remove .edy-ico-foreground{stroke:rgba(0,0,0,0.65)}.edy-gallery-area .edy-thumb-remove .edy-ico-background{fill:rgba(255,255,255,0.65);stroke-width:1;stroke:rgba(0,0,0,0.1)}.edy-gallery-area .edy-thumb-remove:hover .edy-ico-foreground{stroke:rgba(0,0,0,0.95)}.edy-gallery-area .edy-thumb-remove:hover .edy-ico-background{fill:rgba(255,255,255,0.95)}.edy-gallery-sortable-placeholder{display:inline-block;float:left;width:96px;height:96px;margin:0 5px 5px 0;font-size:0;line-height:0}.edy-cbtn .edy-cbtn-ico{width:12px !important;margin-right:2px !important;font-size:0 !important;line-height:0 !important;vertical-align:-1px !important}.edy-cbtn>div{position:relative !important;display:inline-block !important;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;font-size:13px !important;font-style:normal !important;font-weight:600 !important;line-height:14px !important;letter-spacing:0 !important;color:#fff !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:nowrap !important;visibility:visible !important}.edy-cbtn>div>div{position:relative !important;display:inline-block !important}.edy-cbtn>div:before{-webkit-transition:background 250ms;-moz-transition:background 250ms;transition:background 250ms;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;position:absolute !important;width:100% !important;height:21px !important;padding:1px 7px 1px 9px !important;margin-top:-5px !important;margin-left:-6px !important;background-color:rgba(29,33,36,0.5) !important;border-radius:11px !important;content:'' !important}.edy-cbtn>div:hover:before{background-color:#1d2124 !important}.edy-cbtn-ico-right>div:before{margin-left:-8px !important}.edy-cbtn-ico-right .edy-cbtn-ico{margin-right:0 !important;margin-left:2px !important}.edy-cbtn-ico-right .edy-cbtn-ico svg{margin-bottom:-1px}.edy-element-thumb-catcher{position:relative;width:200px;min-height:150px;line-height:0;text-align:center;border:1px solid rgba(0,0,0,0.1)}.edy-element-thumb-catcher .edy-element-thumb-catcher-image{display:inline-block;max-width:100%;max-height:150px}.edy-element-thumb-catcher .edy-element-thumb-catcher-delete{position:absolute;top:-10px;right:-11px;cursor:pointer}.edy-element-thumb-catcher .edy-element-thumb-catcher-title{padding:5px;overflow:hidden;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:12px;line-height:1.5em;text-overflow:ellipsis}.edy-element-thumb-catcher .edy-element-thumb-empty{font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:12px;font-weight:600;line-height:2em;color:rgba(0,0,0,0.35);text-transform:uppercase}.edy-cp-view{min-height:1.5em}.edy-cp-view .edy-cp-empty{display:none}.edy-cp-view .edy-cp-empty:only-child{display:block}.edy-itempicker{width:400px}.edy-itempicker .edy-itempicker-preview,.edy-itempicker .edy-itempicker-clear{display:none}.edy-itempicker .edy-itempicker-input-btns{position:absolute;top:6px;right:6px;bottom:6px}.edy-itempicker .edy-itempicker-input-btns button{height:100%;vertical-align:middle}.edy-itempicker .edy-itempicker-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px;cursor:pointer;border-top:1px solid rgba(0,0,0,0.1)}.edy-itempicker .edy-itempicker-item .edy-itempicker-name{overflow:hidden;font-size:14px;font-weight:600;line-height:18px;color:#333;text-overflow:ellipsis;white-space:nowrap;min-height:1em}.edy-itempicker .edy-itempicker-item .edy-itempicker-small{overflow:hidden;font-size:12px;line-height:14px;color:#999;text-overflow:ellipsis;white-space:nowrap}.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn{float:right;height:42px;margin:-5px;padding:10px 14px;color:#bebebe;cursor:pointer;position:relative}.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn svg{position:relative;z-index:1;width:18px;margin-top:1px}.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn:before{color:white;content:attr(title);position:absolute;right:0px;background-color:#439CEE;height:32px;font-size:12px;top:0;padding:5px 40px 5px 0;width:85px;right:-130px;overflow:hidden;-webkit-transition:right 0.1s;-moz-transition:right 0.1s;transition:right 0.1s;-webkit-transition-timing-function:ease-in;-moz-transition-timing-function:ease-in;transition-timing-function:ease-in}.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn:hover{border-radius:0;background-color:#439CEE;color:white}.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn:hover:before{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;transition-timing-function:ease-out;right:0}.edy-itempicker .edy-itempicker-selecteditem{background-color:#48A8FF}.edy-itempicker .edy-itempicker-selecteditem[data-type="link_to"]{background-color:#FF5E32}.edy-itempicker .edy-itempicker-selecteditem[data-type="link_to"] .edy-itempicker-right-btn:before{background-color:#EE4D21}.edy-itempicker .edy-itempicker-selecteditem .edy-itempicker-name,.edy-itempicker .edy-itempicker-selecteditem .edy-itempicker-small,.edy-itempicker .edy-itempicker-selecteditem .edy-itempicker-right-btn{color:white}.edy-relbuilder ul{padding:0;list-style-type:none}.edy-relbuilder ul li{padding:0;background:none}.edy-menu-hidden-popover{width:175px}.edy-menu-hidden-popover a{display:block;padding:5px 8px;overflow:hidden;font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:14px;color:rgba(0,0,0,0.65);text-overflow:ellipsis;text-shadow:none;white-space:nowrap}.edy-menu-hidden-popover a:hover{color:rgba(0,0,0,0.95);text-shadow:none}.edy-btn-removecomment{display:none !important;height:16px !important;padding:0 2px !important;font-size:18px !important;line-height:16px !important;color:rgba(0,0,0,0.5) !important;text-shadow:0 1px 0 #fff !important}.edy-site-blog-comment:hover .edy-btn-removecomment{display:inline !important}
#source textarea {
  width: 100%;
  min-height: 340px;
  display: block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:10px;
  margin:0;
  font-family:Inconsolata, Monaco, Monospace;
  font-size:16px;
  line-height:20px;
  background:#fff;
  border:0;
  outline:none;
  resize:none;
}

#source {
  border: 1px solid rgba(0,0,0,.1);

  .editor-source-btns {
    width: 100%;
    display: block;
    height: 45px;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: right;

    a {
      margin-top: 5px;
      margin-right: 5px;
      display: inline-block;
      padding: 9px 14px;
      font-size: 18px;
      font-weight: 600;
      line-height: 17px;
      border-radius: 2px;
      color: #fff;
      text-decoration: none;
    }

    .cancel {
      background-color: #a1a1a1;
    }

    .update {
      background-color: #19c828;
    }
  }
}

#source,
#editor {
  max-width: 640px;
  margin: 50px auto 0;
}

#editor {
  position: relative;

  .advanced-demo {
    position: absolute;
    right: 0;
    line-height: 15px;
    top: -22px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    color: rgba(0,0,0,.9);

    &:hover {
      color: rgba(0,0,0,.75);
    }
  }

  p {
    margin: 0;
    font-weight: 500;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1em;
    font-weight: 500;
  }

  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 45px;
  }

  @include query($tablet-3) {
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
    }
  }

  small {
    display: block;
    margin-top: 40px;
    font-size: 9px;
    font-weight: 500;
  }

  small,
  small a {
    color: #666;
  }

  a {
    color: rgb(0, 161, 255);;
    text-decoration: underline;
    cursor: pointer;
  }

  ul,
  ol {
    padding: 0 0 0 1.2em;
    margin: 0;
  }

  #toolbar [data-wysihtml5-action] {
    float: right;
  }

  #toolbar [class^=wysiwyg-font-size] {
    padding: 0.7em 10px;
  }

  #toolbar button:focus {
    outline: none;
  }

  #toolbar {
    @include query(380px) {
      margin-left: -20px;
    }
    margin-top: -30px;
    z-index: 9;
  }

  #toolbar .no-color {
    pointer-events: none;
  }

  #toolbar,
  #textarea {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #textarea {
    line-height: 1.2em;
    font-weight: 500;
    width: 100%;
    max-width: 640px;
    min-height: 400px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: transparent;
  }

  #textarea:focus {
    outline: none;
  }

  iframe body {
    font-family:"Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
    ul {
      margin: 0.5em !important;
    }
  }

  .edy-tb-cmd.wysihtml5-command-active {
    font-weight: bold;
    background-color: rgba(0,0,0,.05);
  }
}

[class^="wysiwyg-font-size"] {
  line-height: 1em;
}

.wysiwyg-font-size-xx-large {
  font-size: 75px;
}

.wysiwyg-font-size-x-large {
  font-size: 50px;
}

.wysiwyg-font-size-large {
  font-size: 35px;
}

.wysiwyg-font-size-medium {
  font-size: 22px;
}

.wysiwyg-font-size-small {
  font-size: 18px;
}

.wysiwyg-font-size-x-small {
  font-size: 14px;
}

.wysiwyg-font-size-xx-small {
  font-size: 10px;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-sand {
  color: rgb(255, 249, 197);
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-skyblue {
  color: rgb(0, 162, 255);
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

[class^="wysiwyg-text-align"] {
  line-height: 1em;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}

.colorpicker-color-bordered {
  border: 1px solid rgba(0,0,0,.1);
}

[data-wysihtml5-command="createLink"] + .edy-popover {
  top: 25px;
  position: absolute !important;
  z-index: 30000 !important;
  font-size: 14px;
  font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-weight: normal;
  line-height: 1em;
  color: #1b2124;
  text-align: left !important;
  width: 400px;

  .edy-popover-content {
    border-radius: 2px !important;
    overflow: hidden;
    background: rgba(255,255,255,0.95) !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
  }

  .edy-tibtn-container {
    position: relative;
    line-height: 0;
  }

  .edy-itempicker .edy-itempicker-input-btns {
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
  }

  button {
    height: 100%;
    vertical-align: middle;
    background-color: #22b02e;
    padding: 9px 14px;
    font-size: 18px;
    font-weight: 600;
    line-height: 17px;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: none;
    border: 0;
    outline: none;
  }

  input {
    padding: 14px;
    font-weight: 600;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    background-color: transparent;
    border: 0;
    outline: none;
    resize: none;
    -webkit-appearance: none;
  }
}

.wysihtml5-command-dialog-opened + .edy-popover {
  display: block !important;
}

[data-wysihtml5-command="createLink"].wysihtml5-command-active + .edy-popover [data-wysihtml5-command="removeLink"] {
  display: block;
}

[data-wysihtml5-command="createLink"]:not(.wysihtml5-command-active) + .edy-popover [data-wysihtml5-command="removeLink"] {
  display: none;
}

[data-wysihtml5-command="createLink"].wysihtml5-command-active + .edy-popover button[data-wysihtml5-dialog-action="save"] {
  display: none;
}

[data-wysihtml5-command="createLink"]:not(.wysihtml5-command-active) + .edy-popover button[data-wysihtml5-dialog-action="save"] {
  display: block;
}

.edy-tb-menucontainer.createlink {
  .edy-popover {
    top: 25px;
  }
}
