.header {
  @extend %clearfix;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: background-color .15s ease;
  transition: background-color .15s ease;

  .logo {
    position: relative;
    float: left;
    width: 142px;
    height: 40px;
    padding: 20px 0 20px 20px;
    text-decoration: none;

    .text,
    .dot {
      font-family: 'Avenir Next', 'Helvetica', sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 1em;
    }

    .text-smaller {
      position: absolute;
      right: 8px;
      bottom: 23px;
      font-family: 'Georgia', serif;
      font-size: 11px;
      font-style: italic;
      font-weight: 600;
      line-height: 1em;
    }

    .text,
    .dot,
    .text-smaller {
      -webkit-transition: color .15s ease;
      transition: color .15s ease;
    }
  }

  .gh {
    position: relative;
    float: right;
    height: 40px;
    padding: 20px 10px 20px 0;

    .fork-text {
      float: left;
      max-width: 55px;
      padding: 5px 10px 5px 0;
      font-family: 'Avenir Next', 'Helvetica', sans-serif;
      font-size: .65em;
      color: #1b2124;
      text-align: right;
    }

    .gh-logo-container {
      float: right;
      width: 26px;
      height: 26px;
      padding: 7px 0;
      background-image: url('/images/github-logo.png');
      background-repeat: no-repeat;
      background-size: 26px 26px;
      background-position-y: 50%;
    }
  }
}

.header.top {
  @media screen and (max-width: 1086px) {
    background-color: rgba(133,216,248,.9);
  }

  .logo {
    .text {
      color: #1b2124;
    }

    .dot {
      color: #00a2ff;
    }

    .text-smaller {
      color: #fff9c5;
    }
  }
}

.header.middle,
.common-page .header {
  @media screen and (max-width: 1086px) {
    background-color: rgba(255,255,255,.9);
  }

  .logo {
    .text {
      color: #1b2124;
    }

    .dot {
      color: #1ca2ff;
    }

    .text-smaller {
      color: #85d8f8;
    }
  }
}

.header.bottom {
  @media screen and (max-width: 1086px) {
    background-color: rgba(0,0,0,.9);
  }

  .logo {
    .text {
      color: #fff;
    }

    .dot {
      color: #85d8f8;
    }

    .text-smaller {
      color: #fff9c5;
    }
  }
}

.header.bottom .gh .fork-text {
  color: #fff;
}

.header.bottom .gh .gh-logo-container {
  background-image: url('/images/github-logo-yellow.png');
}
