.header {
  @extend %clearfix;

  .logo {
    position: relative;
    float: left;
    width: 142px;
    height: 40px;
    padding: 20px 0 20px 20px;
    text-decoration: none;

    .text,
    .dot {
      font-family: 'Avenir Next', 'Helvetica', sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 1em;
    }

    .text-smaller {
      position: absolute;
      right: 8px;
      bottom: 23px;
      font-family: 'Georgia', serif;
      font-size: 11px;
      font-style: italic;
      font-weight: 600;
      line-height: 1em;
    }
  }

  .gh {
    position: relative;
    float: right;
    height: 40px;
    padding: 20px 10px 20px 0;

    .fork-text {
      float: left;
      max-width: 55px;
      padding: 5px 10px 5px 0;
      font-family: 'Avenir Next', 'Helvetica', sans-serif;
      font-size: .65em;
      color: #1b2124;
      text-align: right;
    }

    .gh-logo-container {
      float: right;
      width: 26px;
      height: 26px;
      padding: 7px 0;
      background-image: url('/images/github-logo.png');
      background-repeat: no-repeat;
      background-size: 26px 26px;
      background-position-y: 50%;
    }
  }
}

.content-top {
  .logo {
    .text {
      color: #1b2124;
    }

    .dot {
      color: #00a2ff;
    }

    .text-smaller {
      color: #fff9c5;
    }
  }
}

.content-middle {
  .logo {
    .text {
      color: #1b2124;
    }

    .dot {
      color: #1ca2ff;
    }

    .text-smaller {
      color: #85d8f8;
    }
  }
}

.content-bottom {
  .logo {
    .text {
      color: #fff;
    }

    .dot {
      color: #85d8f8;
    }

    .text-smaller {
      color: #fff9c5;
    }
  }
}

.content-bottom .gh .fork-text {
  color: #fff;
}

.content-bottom .gh .gh-logo-container {
  background-image: url('/images/github-logo-yellow.png');
}
